apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cliente-a-hpa
  namespace: cliente-a
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cliente-a-api
  minReplicas: 2
  maxReplicas: 8
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60
