apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cliente-c-hpa
  namespace: cliente-c
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cliente-c-api
  minReplicas: 1
  maxReplicas: 4
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 600
      policies:
      - type: Percent
        value: 50
        periodSeconds: 120
    scaleUp:
      stabilizationWindowSeconds: 120
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60
