apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cliente-b-hpa
  namespace: cliente-b
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cliente-b-api
  minReplicas: 5
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Pods
        value: 2
        periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
      - type: Pods
        value: 2
        periodSeconds: 30
